body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:150;
  letter-spacing: 2px;
  font-size:35px;
}


a {
  font-family: 'Lato', sans-serif;
  font-weight:150;
  letter-spacing: 2px;
  font-size:35px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:10px;
  color: #333333;
}

.propos {
  float:left;
  margin:2px;
}

.droite {
  float:right;
  margin:2px;
}

.header {
  text-align:left;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
  overflow: auto;
}
.logo {
  width:25px;
  fill:white;
  padding-right:16px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:25vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:8vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:50px;
  max-height:75px;
}
.content {
  position:relative;
  height:10vh;
  text-align:center;
  background-color: white;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

  button {
    background-color: white;
    border: 2px solid rgba(84,58,183,1);;
    color: black;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(84,58,183,1);
    color: white;
  }

  .college{
    text-align: center;
  }

  .college button + button {
    margin-left: 15px;
  }

  .lycee{
    text-align: center;
  }

  .lycee button + button {
    margin-left: 15px;
  }

  .matiere{
    text-align: center;
  }

  .matiere button + button {
    margin-left: 15px;
  }

  .vide{
    height: 60px;
  }